<%= s3_uploader_form callback_url: pictures_url, 
  callback_param: "picture[direct_upload_url]",
  id: 'image-uploader',
  max_file_size: 5.megabytes,
  expiration: 24.hours.from_now.utc.iso8601,
  data: { remote: true } do %>
    <div class="form-group">
      <%= label_tag :image %>
      <%= file_field_tag :file, multiple: true, class: "filestyle" %>
    </div>
<% end %>

<output class="row-fluid">
  <div id="image-list"></div>
</output>

<div id="uploads_container"></div>

<script id="template-upload" type="text/x-tmpl">
<div id="upload_{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
