<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Pictures', pictures_path %></li>
    <li><%= link_to 'Files', attachments_path %></li>
  </ul>
</div>
<!-- /.navbar-collapse -->
